{% extends "base.twig" %}

{% block title %}
  Login
{% endblock %}

{% block nav_auth %}
  <li class="nav-item mr-2">
    <a href="/">
      <button type="button" class="btn btn-dark">&lt;&lt; Go Back</button>
    </a>
  </li>
{% endblock %}

{% block content %}
{% endblock %}
