.sort-by {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}
.sort-by a {
    line-height: 0;
}
.sort-by img {
    transform: scale(1.5);
    margin: 1px;
}
.page-item .page-link {
    color: #212529;
}
.page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
}
.btn-logout {
    background-color: #fff;
    border-color: #fff;
}
.btn-logout:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 0;
}
.btn-logout:hover:after {
    content: 'Logout';
    font-size: 1rem;
}
